<div id="top" style="font-size:1.5em;line-height:1.75em;color:#66EE66; text-align:center">
  <h1>New World Radio</h1>
</div>

<div id="play" style="position:relative;left:45%;">
    <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:location, "Location:") %>
      <%= text_field_tag :location, "Miami" %>
      <%= submit_tag("Play!") %>

    <%end %>
</div>

<div class="ival" id="time" style="text-align:center;font-size:3.125em;color:#87CEEA">1998</div>

<div class="demo" style="width:100%;height:27.5em;text-align:center;">

  <div style="float:left;">
    <div class="idir" id="time" style="width:80px;text-align:center;font-size:50px;"></div>
  </div>

  <div style="height:320px;padding:20px;background-color:#222;text-align:center;">
    <pre></pre>

    <input class="infinite" id="time" value="1998" data-width="150" data-thickness=".35" data-fgColor="#ffec03" data-bgColor="#7C6E16" data-displayInput="false" data-cursor=true>

  </div>

</div>

<div id="artist_info" ><ul></ul></div>
<iframe id="ytplayer" type="text/html" width="0" height="0"
src="http://www.youtube.com/v/kd6e_ZfTyqI?&version=3&loop=1&playlist=LOMbySJTKpg,LOMbySJTKpg"
frameborder="0" allowfullscreen></iframe>

<div data-role="page" id="city" class="demo-page" data-dom-cache="true" data-theme="a" data-prev="prevCity" data-next="nextCity" data-url="city">
    <!-- "city", "prevCity" and "nextCity" are used as placeholders and contain the name of the applicable city in our demo files. -->
    <div data-role="header" data-position="fixed" data-fullscreen="true" data-id="hdr" data-tap-toggle="false">
        <h1>City</h1>
        <a href="swipe-page.html" data-direction="reverse" data-icon="delete" data-iconpos="notext" data-shadow="false" data-icon-shadow="false">Back</a>
    </div><!-- /header -->
    <div data-role="content">
        <div id="trivia-city" class="trivia ui-content" data-role="popup" data-position-to="window" data-tolerance="50,30,30,30" data-theme="d">
            <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
            <p>Here some text.</p>
        </div><!-- /popup -->
    </div><!-- /content -->
    <div data-role="footer" data-position="fixed" data-fullscreen="true" data-id="ftr" data-tap-toggle="false">
        <div data-role="controlgroup" class="control ui-btn-left" data-type="horizontal" data-mini="true">
            <a href="#" class="prev" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-theme="d">Previous</a>
            <a href="#" class="next" data-role="button" data-icon="arrow-r" data-iconpos="notext" data-theme="d">Next</a>
        </div>
        <a href="#trivia-city" data-rel="popup" class="trivia-btn ui-btn-right" data-role="button" data-icon="info" data-iconpos="left" data-theme="d" data-mini="true">Trivia</a>
    </div><!-- /footer -->
</div>


