<div id="top" style="font-size:1.5em;line-height:1.75em;color:#66EE66; text-align:center">
  <h1>New World Radio</h1>
</div>

<div id="play" style="position:relative;left:45%;">
  <%= form_tag("/search", method: "get") do %>

    <%= submit_tag("Play!") %>

  <%end %>
</div>

<div id="artist_info">
 <marquee behavior="scroll" direction="left" width="100%" bgcolor="#FF0000" ;>
 <ul></ul>
 </marquee>
</div>
 <!-- does this div close anywhere? -->

<div class="ival" style="width:80px;text-align:center;font-size:50px;color:#AAA">
  World
</div>


<div class="demo" style="color:#EEE;background:#222;height:420px;width:100%">
  <pre>

  </pre>
  <div style="position:relative;width:350px;margin:auto">
    <div style="position:absolute;left:10px;top:10px">
        <input class="knob" data-cursor=true data-bgColor="#333" data-fgColor="#ffec03" data-displayInput="true" data-width="300" data-height="300" data-thickness=".3" value="2000">
    </div>
    <div style="position:absolute;left:60px;top:60px">
        <input class="infinite country" value="0" data-bgColor="#333" data-displayInput=false data-width="200" data-height="200" data-thickness=".45" data-cursor=true>
    </div>
    <div style="position:absolute;left:110px;top:110px">
        <input class="knob second" value="162" data-min="0" data-max="200" data-bgColor="#333" data-fgColor="rgb(127, 255, 0)" data-displayInput=false data-width="100" data-height="100" data-thickness=".3">
    </div>
  </div>
</div>


<iframe id="ytplayer" type="text/html" width="200" height="200"
src="http://www.youtube.com/v/kd6e_ZfTyqI?&version=3&loop=1&playlist=LOMbySJTKpg,LOMbySJTKpg"
frameborder="0" allowfullscreen></iframe>


