<div id="top" style="font-size: 1.5em;text-align: center;">

    <div class="ival" style="float: left;"> &nbsp </div>

    <div id="loc" style="float: right;"><h1></h1></div>

  <div id="header" style="display: inline-block; text-align: center; width: 100%; margin-top:-1.5em; margin-bottom:-1.5em;">
    <h1>New World Radio </h1>
  </div>

  <div id="play">


    <div id="artist_info">
     <marquee behavior="scroll" direction="left" width="100%" style="margin-bottom:-0.76em;";>
     <ul></ul>
     </marquee>

    </div>
  </div>
</div>



<div class="demo" style="color:#EEE;background:#222;height:310px;width:100%;">
  <pre>

  </pre>
  <div style="position:relative;width:225px;margin:auto; text-align:center">
    <div style="position:absolute;left:-15px;top: -12px;">
        <input class="knob" data-bgColor="#333" data-fgColor="#ffec03" data-displayInput="false" data-width="251" data-height="251" data-thickness=".295" value="2003">
    </div>
    <div style="position:absolute;left:28px;top:31px;">
        <input class="infinite country" value="17" data-bgColor="#333" data-displayInput=false data-width="166" data-height="166" data-thickness=".45">
    </div>
    <div style="position:absolute;left:70px;top:73px;">
        <input class="knob playmusic" value="170" data-min="0" data-max="200" data-bgColor="#333" data-fgColor="rgb(127, 255, 0)" data-displayInput=false data-width="82" data-height="82" data-thickness=".3" >
    </div>
    <!-- knob trigger "triggers" the hidden play submit button" -->
  </div>
</div>
