div#top {
  text-align: center;
}

.green-text{
  color: #66EE66;
  font-size: 1.5em;
  line-height: 1.75em;
}

.ival {
  width:100%;
  text-align:center;
  font-size:2em;
  color:#66EE66;
  display: inline-block;
}

span.new-world-radio{
  display: inline-block;
}

